<div class="login-page">
  <form [formGroup]="loginForm">

    <div class="logo">
      <img src="../assets/LOGO1.png" alt="Logotipo Churrasco">
    </div>
    <br>

    <div class="input-box">
        <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
        <input type="username" id="input-username" name="username" formControlName="username" placeholder="Username"/>
          <app-form-error-container [forControl]="usernameControl">
            <app-form-error-msg forErrorCode="required"></app-form-error-msg>
            <app-form-error-msg forErrorCode="username"></app-form-error-msg>
          </app-form-error-container>
          <hr>

        <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
        <input type="password" id="input-password" name="password" formControlName="password" placeholder="Password" />
          <app-form-error-container [forControl]="passwordControl">
            <app-form-error-msg forErrorCode="required"></app-form-error-msg>
          </app-form-error-container>

      <app-form-error-container [forControl]="loginForm">
        <app-form-error-msg forErrorCode="invalidCredentials"></app-form-error-msg>
      </app-form-error-container>
    </div>

    <div class="buttons-box">
        <input type="checkbox" name="remember" id="remember" >
        <label class="check-label"> remember</label>

        <button
        (click)="signIn()" type="submit"
        [disabled]="(loginForm.statusChanges | async) !== 'VALID'"
      >Log in </button>
    </div>
  </form>
</div>
