:host {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px;
  background: var(--color-4);
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 50px;
}

.total-label {
  text-transform: uppercase;
  font-size: var(--font-size-1);
  font-weight: 400;
  color: var(--color-2);
}

.total {
  font-size: var(--font-size-3);
  font-weight: 600;
  align-self: flex-end;
  margin-top: 50px;
}

button {
  font-size: var(--font-size-2);
  font-weight: 600;
  padding: 10px 14px;
  margin-top: 50px;
  border-radius: 9px;
  background-color: var(--color-2);
  color: var(--color-3);
  border: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #7d29fa;
  outline: none;
}

button:disabled {
  color: var(--color-1);
  background-color: var(--color-5);
  cursor: not-allowed;
}
