@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

/*        var(--color-3);         */
:root {
    --color-1: rgb(58,51,118);
    --color-2: #3736b2;
    --color-3: #bbafaa;
    --color-4: #fffefe;
    --color-5: #d8d8d5;
    --color-6: #3c347b;
    --color-alert: #bd0c0c;
    --font-size-1: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.8rem;
    --badground-1: linear-gradient(180deg, rgba(58,51,118,1) 0%, rgba(47,41,94,1) 50%, rgba(34,31,69,1) 100%);
    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --font-family-1: 'Mukta', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Mukta', sans-serif;
  background-color: #e1e1e1;
  font-size: 16px;
  display: grid;
  grid-template: 1fr / 1fr;
}

